.nav {
    background-color: brown;
    color: antiquewhite;
    margin-top: 0%;
    display: block;
    margin-bottom: 2px;
    height: 0.5in;
}

.nav-home {
    display: inline-flex;
    font-size: large;
}

.nav-item {
    list-style: none;
    padding-left: 2em;
    display: inline-block;
}