.profile-gallery {
    float: left;
    width: 180px;
    margin: 50px;
    padding-left: 50px;
}

.profile-gallery img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    /* padding-left: 5px; */
   border-color: brown;
   border-style: solid;
   
   
}
.profile-desc {
    float: left;
    padding: 15px;
    padding-top: 20px;
    padding-left: 65px;
    
} 

.profile-desc-pos {
    float: left;
    padding: 15px;
    padding-top: 2px;
    padding-left: 63px;
    color: brown;
}



.footer{
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #a52a2a;
  bottom: 0;
  
}
.footer-logo {
    max-width: 100px;
    
}

.about-us {
    text-align: justify;
}

.main-pic{
    max-width: 1440px;
    max-height: 726px;
    size-adjust: inherit;
}

.logo {
    float: left;
    max-width: 235px;
    max-height: 248px;
    padding-right: 50px;
    position:calc();
    padding-left: 150px;
}

.main-pic-desc {
    position: absolute;
    bottom: 300px;
    left: 16px;
    color: antiquewhite;
    font-size:  50px;
    padding-left: 30px;
}

.about-us-desc {
    padding-left: 5%;
    padding-right: 10%;
    font-size: 22px;
}

h3 {
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 25px;
    color: brown;
    font-weight: lighter;

}

.impact-desc {
    padding-left: 150px;
    text-align: justify;
    font-size: 22px;
    padding-right: 10%;
}